<div>
        <el-card v-if="lastBuildInfo" :class="'box-card  ' + lastBuildInfo.state">
            <div slot="header" class="card-header">
                <div class="icon">
                    <icon scale="3" name="cog"></icon>
                </div>
                <div class="header-content">
                    <div class="description">{{appInfo.name}} lastest build</div>
                    <div class="value">{{ lastBuildInfo.version }}</div>
                </div>
            </div>

            <el-table :show-header="false" :v-if="lastBuildInfo.changeset" :data="lastBuildInfo.changeset.changes" style="width: 100%">
                <el-table-column width="100px">
                    <template slot-scope="scope">
                        <div class="changeset-info">
                            <div class="author">
                                <el-tooltip :content="scope.row.author" placement="right">
                                    <img class="avatar" src="/assets/img/user-generic.png"></img>
                                </el-tooltip>
                            </div>
                            <div class="changeset-id">
                                <a :href="scope.row.changesetUrl" target="blank">{{scope.row.displayId}}</a>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column>
                    <template slot-scope="scope">
                        <div class="changeset-body">
                            <div class="description"> 
                                <icon v-if="scope.row.type === 'code'" name="code" scale="2"></icon>
                                <icon v-if="scope.row.type === 'build'" name="cogs" scale="2"></icon> 
                                <span v-html="scope.row.description"></span>
                            </div>
                            
                            <div class="changeset-body-info"> 
                                <div class="plan"> 
                                    <a :href="scope.row.plan.link" target="blank">{{scope.row.plan.name}}</a>
                                </div>
                                <div class="date">{{scope.row.date | formatDate}}</div>
                            </div>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
    </div>