<div class="container content">
    <h1>wallappy</h1>
    <p>A python - vue2 based microservice to display build and deployment information about applications organized in groups (pods). </p>
    
    <p>The intended views to be added here are:
    <ul>
        <li>Pods & deployment pipelines</li>
        <li>Pod apps wallboard - build and deployments status</li>
        <li>App wallboard - current build and deployment pipe</li>
    </ul>
    </p>

    <p>
    It also includes a tests API where it can be uploaded tests reports and link them to specific deployments.
    </p>
</div>