<div class="container content" :v-loading="appInfo == null">
    <div v-if="appInfo !== null">
    <el-row :gutter="10">
        <h1>
            <strong>{{appInfo.name}} </strong> 
            <small>/ {{appInfo.buildKey}} </small>
            <icon style="color: #565759;" v-if="loading" name="circle-o-notch" spin scale="0.8"></icon>
        </h1> 

        <div class="app-summary">
            <div class="deployments-summary" v-for="pipe in appInfo.deploymentPipes">
                <span class="summary-pipe-name">{{pipe.name}}</span>
                <span style="margin-right: 5px" v-for="env in pipe.envs" :key="env.name"><env :type="env.type" :name="env.name"></env></span>&nbsp;
            </div>
        </div>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="8">
            <build-card :appInfo="appInfo" :buildInfo="lastBuildInfo"></build-card>
        </el-col>
        <el-col :span="4">
            <deployment-card :appInfo="appInfo" :lastDeploymentsInfo="lastDeploymentInfo" :lastBuildInfo="lastBuildInfo"></deployment-card>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :span="12">
            <cd-pipe-card :appInfo="appInfo" :lastDeploymentsInfo="lastDeploymentInfo"></cd-pipe-card>
        </el-col>
    </el-row>
    </div>
</div>