.el-card__header {
    color: white;
    padding: 10px;
}

.error .el-card__header {
    background-color: rgb(217, 83, 79);
}

.success .el-card__header {
    background-color: rgb(92, 184, 92);
}

.error {
    color: rgb(217, 83, 79);
}

.success {
    color: rgb(92, 184, 92);
}

.pipeline .el-card__header {
    background-color: rgb(51, 122, 183);
}

.unknown .el-card__header {
    background-color: rgb(88, 88, 88);
}

.icon {
    width: 70px;
    float: left;
}

.header-content {
    margin-left: 70px;
}

.description {
    padding-top: 2px;
    font-size: 12px;
}

.value {
    font-size: 22px;
}

.el-table td, .el-table th {
    padding-top: 6px;
    padding-bottom: 6px;
}

.app-summary {
    margin-bottom: 10px;
}

.deployments-summary {
    padding: 5px;
    color: #606266;
}

.summary-pipe-name {
    border-radius: 3px;
    background-image: linear-gradient(-180deg, rgb(107, 107, 107), rgb(36, 36, 36));
    
    padding: 3px 9px 3px 9px;
    display: inline;

    color: rgb(255, 255, 255);
    font-size: 14px;
}

