<div>
    <el-card v-if="deploymentPipes.length > 0" v-for="(pipe, pipeIndex) in deploymentPipes" 
            class="box-card pipeline" :key="pipe.name">
        <div slot="header" class="card-header">
            <div class="icon">
                <icon scale="3" name="tasks"></icon>
            </div>
            <div class="header-content">
                <div class="description">CD pipeline</div>
                <div class="value">{{pipe.name}} / {{appInfo.name}}</div>
            </div>
        </div>
        
        <div class="envs-pipe">
            <div class="envs-pipe-container">
                <ul>
                    <li class="env-pipe-li" v-for="(deployments, index) in pipe.deployments">
                        
                        <!-- div class="env-connection" v-if="env.requiresAuth">
                            < Bug: Popover references don't work within v-if so it's needed an inline definition >
                            <el-popover
                                placement="bottom-start"
                                title="Auth"
                                width="200"
                                trigger="hover">
                                <div class="env-connector-icon-auth" slot="reference">
                                    <icon style="color: rgb(165, 165, 165);" name="lock"/>
                                </div>

                                <div>
                                    <p>{{env.authInfo.message}}</p>
                                </div>
                            </el-popover>
                            <div class="env-connector"></div>
                        </div -->
                        
                        <div :class="(deployments.envs.length > 1)? 'env-group' : 'env-cell'">
                            <div class="env-pipe" v-for="(env, index) in deployments.envs" :key="env.name">
                                <div class="env-header">
                                    <div class="env-icon">
                                        <icon name="cloud" v-if="env.state === 'success'"  scale="2"></icon>
                                        <icon v-if="env.state === 'error'" name="exclamation" scale="2"></icon>
                                        <icon v-if="env.state === 'deploying'" name="circle-o-notch" scale="2" spin></icon>
                                    </div>
                                    <div class="env-info">{{env.name}}</div>
                                    
                                    <div class="env-version"> <a :href="env.link" target="blank">{{env.version}}</a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="env-connection" v-if="(pipe.deployments.length-1)>index">
                            <div class="env-connector-icon">
                                <el-tooltip content="Display changes" placement="bottom"
                                    v-if="envOutdated(pipeIndex, index)">
                                    <span class="env-diffs-button" v-on:click="displayEnvDiffs(pipeIndex, index)">
                                        <icon style="background-color: white" name="chevron-circle-right"/>
                                    </span>
                                </el-tooltip>
                                <el-tooltip content="Environments up-to-date" placement="bottom"
                                    v-if="!envOutdated(pipeIndex, index)">
                                    <span class="env-diffs-button">
                                        <icon style="background-color: white" name="chevron-circle-right"/>
                                    </span>
                                </el-tooltip>                                
                            </div>
                            <div class="env-connector"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <el-dialog title="Environment diffs" :visible.sync="displayEnvDiffsDialog" :before-close="handleCloseEnvDiffs">
            <div class="env-diffs-container" v-loading="envDiffs.length === 0">
                <build-card :appInfo="appInfo" :buildInfo="buildInfo" 
                    v-if="envDiffs.length>0" v-for="buildInfo in envDiffs" :key="'diff'+buildInfo.buildResultKey">
                </build-card>
            </div>
        </el-dialog>
    </el-card>

   
</div>