.envs-pipe {
    min-width: 10px;
    max-width: 750px;
    margin: auto;
    left: 50%;
    top: 50%;
}

.envs-pipe-container ul {
    padding: 0;
}

.env-pipe-li  {
    list-style-type: none; 
    display: inline;
    text-align: center;
    color: rgb(96, 98, 102);
    border: 1px solid #ffffff;
}

.env-pipe:hover {
    background-color: #F5F7FA;
    
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.env-group {
    width: 106px;
    min-height: 90px;
    float: left;
    padding: 8px;
    border: 1px solid #ebeef5;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
    border-radius: 25px;
    border-style: dotted;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.env-cell {
    width: 102px;
    height: 102px;
    float: left;
    display: block;
    padding-bottom: 0;
}

.env-pipe  {
    width: 90px;
    height: 90px;
    border: 1px solid #ebeef5;
    -moz-border-radius: 30px;
	-webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 8px;
}

.env-header {
    border: none;
}

.env-icon {
    margin-top: 2px;
    margin-left: 5px;
    color: rgb(165, 165, 165);
}

.env-info {
    margin-top: 0px;
}

.env-version {
    margin-top: 5px;
    font-size: 0.8em;
    border: none;
}

.env-connection {
    float: left;
    width: 50px;
    color: rgb(210, 210, 211);
    height: 65px;
    padding-top: 43px;
    margin-bottom: 20px;
}

.env-connector {
    border-bottom: solid 3px #ebeef5;
    height: 6px;
    display: block;
    
}

.env-connector-icon {
    float:left;
    width: 50px;
    color: #ebeef5;
}

.env-connector-icon-auth {
    float:left;
    width: 20px;
    height: 20px;
    border: 1px solid #ebeef5;
    background-color: #ffffff;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: -4px;
    padding-top: 3px;
    margin-left: 8px;
}

.env-connector-icon-auth:hover {
    background-color: #F5F7FA;

    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.env-diffs-button:hover {
    cursor: pointer;
    color: #d1d1d1;
    -webkit-transition: color .50s ease;
    transition: color .50s ease;
    transition-property: color;
    transition-duration: 0.50s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.env-diffs-container {
    min-height: 200px;
    max-height: 500px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

